@page
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpMvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using AbpMvc.Web.Pages.Authors
@using AbpMvc.Authors;
@using System.Globalization
@inject IHtmlLocalizer<AbpMvcResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Authors/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewAuthor"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="Author.Name"/>

            <abp-input asp-for="Author.BirthDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="Author.ShortBio"/>

            
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>